@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Josefin+Slab:wght@100&family=Questrial&family=Spartan:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
}
body{
  background-color: #94A8B3;
}
nav{
  margin-bottom: 10px;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
}
nav ul li{
  display: inline-block;
  padding: 8px 70px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.display{
  color: white;
  margin-top: 20px;
  text-align: center;
}

.header{
  min-height: 120vh;
  width: 100%;
  background-color: rgb(31, 160, 160);
  background-position: center;
  background-size: cover;
  position: relative;
}


nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 40px;
  
}

nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f1ad1b;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after{
width: 100%;
}
.text-box{
  color: white;
  text-align: center;
}
.text-box h1{
  font-size: 40px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 20px;
}
.button1:hover{
  box-shadow: 0 8px 12px 0 rgb(243, 163, 15);
}
/*weather api styling*/
.input{
  text-align: center;
}
input[type="text"]{
  height: 50px;
  width: 600px;
  background: #e7e7e7;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  text-align: center;
}

/*footer styling*/

footer{
  color:black;
  font-family:'Cinzel', serif;
}
.logo h6{
  text-align: center;
  padding-top: 10px;
  margin-top: 15%;
  text-transform: uppercase;
  font-size: 20px;
}
.icons{
  width:100%;
  position: absolute;
  text-align: center;
}
.icons li{
  display: inline-block;
  margin: 1em;
  list-style: none;
  color:black;
}
footer a{
  color:black;
}
footer a:hover{
  color:rgb(31, 160, 160);
}
/* slideshow */
.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
.slider-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.slides{
  width: 500%;
  height:500px;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 800px;
  height: 500px;
  transition: 2s;
}
.slide img{
  width: 800px;
  height: 500px;
}
.slider-navigation{
  position: absolute;
  display: flex;
  margin-top: 33%;
}
input[name="radio-btn"]:not(:last-child) {
  margin-right: 40px;
}
input[name="radio-btn"] {
  cursor: pointer;
}
/*Mobile menu top of page*/
.main-mobile-menu {
  padding: 1.5rem 0rem;
}
.mobile-menu a{
  text-decoration:none ;
}
.mobile-menu {
  position:fixed;
  margin-top: 12%;
  left: 0;
  width: 100%;
  background: #ACC1CC;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.3rem 0rem;
  box-shadow: 1px 1px 1px rgba(62, 98, 100, 0.226);
}
.menu-item {
  text-align: center;
  color:white;
  font-size:1.5rem ;
}
.menu-item p {
  color:white;
  font-size: 0.4rem;
  margin-top: 0.1rem;
  font-weight:bolder;
}
/* media queries */
/*Media Queries (768px)*/
@media only screen and (min-width: 768px) {
  .main-mobile-menu,
  .mobile-menu {
    display: none;
  }
}
@media only screen and (max-width:680px) {
  nav{
    display:none;
  }
}
