@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Spartan:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
  }
  
  .main-mobile-menu {
    padding: 1.5rem 0rem;
  }
  .mobile-menu a{
    text-decoration:none ;
  }
  .mobile-menu {
     position:fixed; 
    margin-top:-12%;
    left: 0;
    width: 100%;
    background: #ACC1CC;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.3rem 0rem;
    box-shadow: 1px 1px 1px rgba(62, 98, 100, 0.226);
  }
  .menu-item {
    text-align: center;
    color:white;
    font-size:1.5rem ;
  }
  .menu-item p {
    color: white;
    font-size: 0.4rem;
    margin-top: 0.1rem;
    font-weight:bolder;
  }
  /*Media Queries (768px)*/
  @media only screen and (min-width: 768px) {
    .main-mobile-menu,
    .mobile-menu {
      display: none;
    }
  }
  @media only screen and (max-width:680px) {
    nav{
      display:none;
    }
  }
.solutions-img{
    background: url("https://images.pexels.com/photos/221012/pexels-photo-221012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center /cover;
    width:100%;
    height:70vh;
}
  .solutions-box{
        width:100%;
        height:100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
  }
  .solutions-box h1{
    font-size: 30px;
    color: white;
    letter-spacing: .5em;
    width:100%;
    text-align: center;
  }
 .mainInfo{
   display: grid;
   grid-template-columns: repeat(1,5fr);
 }
 .solutions-text1 h2{
  font-family: 'Glegoo', serif;
  font-size: 30px;
  width:70%;
  text-align: center;
  margin-left: 1.8em;
  color:rgb(31, 160, 160);
  padding-left: .3em;
}
.solutions-text1 p{
  color:#787878;
  font-size: 20px;
  width:70%;
  padding-left: 4em;
  padding-top: 1em;
}
.solutions-text i{
  font-size: 40px;
  margin-top: 1em;
  padding-left: 4em;
  color: #BABABA;
}
.solutions-text  a {
  text-decoration: none;
  padding-top: 2em;
  color:rgb(31, 160, 160);
  font-family:'Glegoo', serif;
  padding-left: 8em;
}
 .solutions-text a:hover{
  color:#F1AD1B;
  transition: 1s;
}
.solutions-text h3{
  font-family: 'Glegoo', serif;
  color:rgb(31, 160, 160);
  font-size: 15px;
  width:30%;
  text-align: center;
  padding-left: 8em;
}
.solutions-text p{
  font-size: 13px;
  color:#787878;
  padding-top: 1em;
  width:80%;
  padding-left: 2.5em;
  text-align: center;
}
.subheading-solution{
  text-transform: uppercase;
  font-family: 'Glegoo', serif;
  font-size: 25px;
  padding-left: em;
  margin-top: 2em;
  text-align: center;
  color:rgb(31, 160, 160);
}
.condition{
  height: 18vh;
}
.condition h4{
 font-family:'Glegoo', serif;
 font-size: 15px;
 padding-left: 1em;
}
.condition p{
 font-family:'Glegoo', serif;
 font-size: 10px;
 margin-left: 1em;
 width:87%;
}
.condition h5{
  float: right;
  padding-right: 3em;
  font-size: 18px;
  margin-top: -5.3em;
  font-family:'Glegoo', serif;
}
 #solutionIcon i{
  color:greenyellow;
}
#solutionIcon2{
  color:#f5d016;
}
#solutionIcon3{
 color:#f78605;
}
#solutionIcon4{
  color:#f70a0a;
}
#solutionIcon5{
  color:#f70a5d
}
#solutionIcon6{
  color:#a836f5;
}
footer{
  color:black;
  font-family:'Cinzel', serif;
}
.logo h6{
  text-align: center;
  padding-top: 10px;
  margin-top: 15%;
  text-transform: uppercase;
  font-size: 20px;
}
.icons{
  width:100%;
  position: absolute;
  text-align:center;
}
.icons li{
  display: inline-block;
  margin: 1em;
  list-style: none;
  color:black;
}
footer a{
  color:black;
}
footer a:hover{
  color:rgb(31, 160, 160);
}

/* media query for desktop*/

@media only screen and (min-width:1024px) and (max-width:1800px){

  header{
    width: 100%;
    background-color: #94A8B3;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  nav{
    margin-bottom: 10px;
  }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
  }
  nav ul li{
    display: inline-block;
    padding: 8px 70px;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .display{
    color: white;
    margin-top: 20px;
    text-align: center;
  }
  
  .header{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(31, 160, 160);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
    
  }
  
  nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f1ad1b;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  nav ul li:hover::after{
  width: 100%;
  }
    .solutions-img{
      background-attachment: fixed;
    }
    .mainInfo{
      display:grid;
      grid-template-columns: repeat(3,1fr);
      gap:1em;
      margin-top: 2em;
      background-color:  white;
      padding: 1em;
    }
    .solutions-text1{
      grid-row:1/3;
      height:50vh;
    }
    .solutions-text1 h2{
      font-size: 40px;
      padding-top: 1em;
      text-align: left;
    }
    .solutions-text1 p{
      font-size: 20px;
      width:70%;
      padding-top: 1em;
    }
    .solutions-text p{
      font-size: 13px;
      padding-top: 1em;
      text-align: left;
    }
    .solutions-text i{
      padding-left: .5em;
    }
    .solutions-text h3{
      padding-left: 1em;
      width:100%;
      text-align: left;
    }
    .solutions-text  a {
      text-decoration: none;
      padding-top: 2em;
      padding-left: 1.5em;
    }
    .airQ{
     margin-top: 2em;
     width:90%;
     display: grid;
     grid-template-columns: repeat(1,6fr);
     margin-left: 5em;
   }
   .subheading-solution{
     text-align: center;
     font-size: 30px;
     margin-top: 2em;
   }
   .condition h4{
    font-size: 20px;
    padding-left: 1em;
   }
   .condition p{
    font-size: 12px;
    margin-left: 1em;
   }
   .condition h5{
     font-size: 18px;
     margin-top: -5em;
   }
   .condition i{
    font-size: 40px;
   }
  }
  